

.counter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background 0.3s ease;
    text-align: center;
  }
  
  button {
    margin: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #0c0b0b;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #f0f0f0;
  }
  
  button:hover {
    background-color: #282626;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  